################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/Concussion Ball/build.zip
*.pdn
*.bat
*.thomas
*.dds
*.zip
*.ico
*.rar
# Ignore svn temp files (poor mans regex)
*.mine
*.r*0*
*.r*1*
*.r*2*
*.r*3*
*.r*4*
*.r*5*
*.r*6*
*.r*7*
*.r*8*
*.r*9*
